<h1>Set Codes</h1>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
    <nav-buttons></nav-buttons> 
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-10">
    <button type="button" (click)="showDropdown()" class="btn btn-primary">Enter Codes</button>

    <form *ngIf=dropdownDisplay class="form-horizontal">
      <div class="form-group">
        <label for="Secure Key">Secure Key</label>
        <input type="text" name="Secure Key" id="Secure Key" class="form-control" placeholder="Enter Secure Key" value="{{ secureKeyValue }}">
      </div>
      <div class="form-group">
        <label for="Fake Key">Fake Key</label>
        <input type="text" name="Fake Key" id="Fake Key" class="form-control" placeholder="Enter Fake Key">
      </div>
    </form>
  </div>
</div>