<button routerLink="/home" class="btn btn-block btn-outline-dark">Home</button>
<button routerLink="/add" class="btn btn-block btn-outline-dark">Add List</button>
<button routerLink="/codes" class="btn btn-block btn-outline-dark">Set Codes</button>
<button routerLink="/logo" class="btn btn-block btn-outline-dark">Set Logo</button>
<button routerLink="/history" class="btn btn-block btn-outline-dark">History</button>
<hr>
<button routerLink="/login" class="btn btn-block btn-outline-dark">Logout</button>
