<button routerLink="/home" class="btn btn-block btn-outline-dark pointer">Home</button>
<button routerLink="/add" class="btn btn-block btn-outline-dark pointer">Add List</button>
<button routerLink="/codes" class="btn btn-block btn-outline-dark pointer">Set Codes</button>
<button routerLink="/logo" class="btn btn-block btn-outline-dark pointer">Set Logo</button>
<button routerLink="/history" class="btn btn-block btn-outline-dark pointer">History</button>
<hr>
<button (click)="logout()" class="btn btn-block btn-outline-dark pointer">Logout</button>
