<button routerLink="/home" class="btn btn-block btn-outline-dark pointer">Home</button>
<button routerLink="/organizations" class="btn btn-block btn-outline-dark pointer" *ngIf="isAdmin">Organizations</button>
<button routerLink="/users" class="btn btn-block btn-outline-dark pointer" *ngIf="isAdmin">Users</button>
<button routerLink="/codes" class="btn btn-block btn-outline-dark pointer">Set Codes</button>
<button routerLink="/change-password" class="btn btn-block btn-outline-dark pointer">Change Password</button>
<button (click)="logout()" class="btn btn-block btn-outline-dark pointer mb-5">Logout</button>
