<h1>Change Password</h1>
<div class= "row"> 
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
    <nav-buttons></nav-buttons> 
  </div>
  <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword()" >
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword" maxlength="64">
    </div>
  
    <div class="form-group">
      <label for="newPassword">Password</label>
      <input formControlName="newPassword" type="password" class="form-control" id="newPassword" maxlength="64">
    </div>
  
    <div class="form-group">
      <label for="reNewPassword">Re-Type Password</label>
      <input formControlName="reNewPassword" type="password" class="form-control" id="reNewPassword" maxlength="64">
    </div>
    
   
      <button *ngIf="!changingPassword" (click)="newPassword()" type="button" class="btn btn-primary pointer" 
        [disabled]="(!newPasswordForm.value.oldPassword || !newPasswordForm.value.newPassword || !newPasswordForm.value.reNewPassword) || 
        (newPasswordForm.value.newPassword !== newPasswordForm.value.reNewPassword)">Change Password
      </button>
  
      <button *ngIf="changingPassword" type="button" class="btn btn-primary" disabled>One Moment... <i class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
  
      <p class="d-inline text-danger ml-1">{{ ErrorMessage }}</p>
  
  </form>

</div>
