<div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-10">
  <form [formGroup]="uploaderForm" (ngSubmit)="UploadFile()">
    <div class="form-group">
      <label class="btn btn-secondary">
        Upload <input (change)="ChangeFile($event)" formControlName="file" type="file" class="inputfile">
      </label>

      <small>{{ filePath }}</small>
    </div>
    <button [ngClass]="{'disabled': !filePath}" [disabled]="!filePath" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
