<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
    <button routerLink="/add" class="btn btn-block btn-outline-dark">Add List</button>
    <button routerLink="/codes" class="btn btn-block btn-outline-dark">Set Codes</button>
    <button routerLink="/logo" class="btn btn-block btn-outline-dark">Set Logo</button>
    <button routerLink="/history" class="btn btn-block btn-outline-dark">History</button>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-10">
    <ul class="list-group">
      <li class="list-group-item"><h3>Something</h3></li>
      <li class="list-group-item">Bogus <button class="btn btn-danger right">Rem</button></li>
    </ul>
  </div>
</div>
