<h1>Set logo</h1>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
    <button routerLink="/home" class="btn btn-block btn-outline-dark">Home</button>
    <button routerLink="/add" class="btn btn-block btn-outline-dark">Add List</button>
    <button routerLink="/codes" class="btn btn-block btn-outline-dark">Set Codes</button>
    <button routerLink="/logo" class="btn btn-block btn-outline-dark">Set Logo</button>
    <button routerLink="/history" class="btn btn-block btn-outline-dark">History</button>
    <hr>
    <button routerLink="/login" class="btn btn-block btn-outline-dark">Logout</button>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-10">
    <form [formGroup]="logoForm" (ngSubmit)="saveNewLogo()">
      <div class="form-group">
        <label class="btn btn-secondary">
          Upload <input (change)="logoChanged($event)" formControlName="file" type="file" class="inputfile">
        </label>

        {{ file }}
      </div>

      <button type="button" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
