/* You can add global styles to this file, and also import other style files */
.big-span {
  font-size: 2em;
}

.pointer {
  cursor: pointer;
}

.right {
  float: right;
}

.hover:hover {
  color: #ddd;
}

.required {
  color: red;
}