<h1>Home</h1>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
    <nav-buttons></nav-buttons> 
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-10">
    <ul class="list-group">
      <li *ngFor="let list of lists" class="list-group-item">
        <h3>{{ list.name }}</h3>

        <p *ngFor="let person of list.people">{{ person.name }}
          <button class="btn btn-danger right"><i class="fa fa-trash-o"></i></button>
          <button class="btn btn-primary right mr-1"><i class="fa fa-pencil"></i></button>
        </p>
      </li>
    </ul>
  </div>
</div>
