<h1>Home</h1>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
    <nav-buttons></nav-buttons>
  </div>

  <div *ngIf="loading" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
    <h1 class="text-center">Loading... <i class="fa fa-circle-o-notch fa-spin fa-1x"></i></h1>
  </div>

  <div *ngIf="!loading" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
    <button type="button" (click)="toggleDropdown()" class="btn btn-primary pointer mb-3">
      <i *ngIf="!dropdownDisplay" class="fa fa-plus"></i>
      <i *ngIf="dropdownDisplay" class="fa fa-minus"></i>
      &nbsp;Add List
    </button>

    <div *ngIf="dropdownDisplay">
      <form [formGroup]="listForm" (ngSubmit)="saveNewList()">
        <div class="form-group">
          <input formControlName="name" type="text" class="form-control" id="username" maxlength="30" placeholder="New list name">
        </div>

        <button *ngIf="!addingList" (click)="saveNewList()" type="button" class="btn btn-primary" [disabled]="!listForm.value.name">Add</button>
        <button *ngIf="addingList" type="button" class="btn btn-primary" disabled>One Moment... <i class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
      </form>
    </div>

    <div class="mt-4">
      <ul class="list-group" >
        <li *ngFor="let list of lists; let i = index;" class="list-group-item">

          <div *ngIf="editingList === list.id">
            <form (ngSubmit)="saveEditedList(list)">
              <input id="edit-list-{{i}}" type="text" class="edited-list" [(ngModel)]="list.name" [ngModelOptions]="{standalone: true}" maxlength="30">
              <button type="submit" class="btn btn-success btn-lg right pointer edit-list-button"><i class="fa fa-check"></i></button>
            </form>
          </div>

          <div *ngIf="editingList !== list.id">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-10 hover pointer" (click)="viewListDetails(list)">
                <span (click)="viewListDetails(list)" class="big-span">{{ list.name }}</span>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                <button (click)="deleteList(list)" class="btn btn-danger btn-lg right pointer"><i class="fa fa-trash-o"></i></button>
                <button (click)="editList(list)" class="btn btn-primary btn-lg right pointer edit-list-button"><i class="fa fa-pencil"></i></button>
              </div>
              <div class="col-md-12" *ngIf="list.contacts.length">
                <div class="list-contact-container">
                  <table class="table table-condensed table-striped table-bordered">
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                    </tr>
                    <tr *ngFor="let contact of list.contacts">
                      <td>{{contact.name}}</td>
                      <td>{{contact.email}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>
