<h1>Home</h1>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
    <nav-buttons></nav-buttons>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-10">
    <ul class="list-group">
      <li *ngFor="let list of lists" class="list-group-item">
        <span (click)="viewListDetails(list)" class="big-span hover pointer">{{ list.name }}</span>
        <button (click)="deleteList(list)" class="btn btn-danger btn-lg right pointer"><i class="fa fa-trash-o"></i></button>

        <div *ngFor="let contact of list.contacts">
          <p>{{ contact.name }}</p>
          <p>{{ contact.email }}</p>
        </div>

      </li>
    </ul>
  </div>
</div>
