<h1>Register</h1>

<h3 *ngIf="errorMesssage" class="text-danger">An error occured. Please try again later.</h3>

<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="form-group">
    <label for="username">Username</label>
    <input formControlName="username" type="text" class="form-control" id="username">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" type="text" class="form-control" id="password">
  </div>

<!--   <div class="form-group">
    <label for="code">Registration Code</label>
    <input formControlName="code" type="text" class="form-control" id="code">
  </div>
 -->
  <button *ngIf="!registering" (click)="register()" type="button" class="btn btn-primary">Register</button>
  <button *ngIf="registering" (click)="register()" type="button" class="btn btn-primary" disabled>One Moment... <i class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>

  <div class="form-group">
    <small>Already have an account? <a routerLink="/login">Click here</a></small>
  </div>
</form>
